NODE_ENV="dev"
APP_NAME="svc-fonoster-gateway"
TIMEZONE="Asia/Jakarta"
LOG_LEVEL="info"

# UPLOAD
UPLOAD_MAX=100
UPLOAD_ALLOWED_FILES="csv,xlsx"

# HTTP SERVICE
HTTP_PORT=8080
API_KEY=secret
HTTP_TIMEOUT=120000 #MS
HTTP_HOST="http://localhost:8080"

# SNOWFLAKE
SNOWFLAKE_NODE_ID=1
SNOWFLAKE_DATACENTER_ID=1

# FONOSTER
FONOSTER_ENDPOINT="127.0.0.1:50051"
FONOSTER_ACCESS_KEY_ID="WOOOO13123"
FONOSTER_API_KEY="ExampleApiKey"
FONOSTER_SECRET_KEY="ExampleSecretKey"
FONOSTER_ALLOW_INSECURE=1 # 1 to allow insecure